h1{
  color: blue;
}

body{
  background-image: url('../images/background.jpg');
}

#textDiv{
  margin: 0 auto;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,.7);
  width: 50%;
}
table{
  margin: 0 auto;
}

li{
  list-style: none;
  margin: 10px;
}
